{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página não encontrada | EcoCultivo</title>
    <link rel="stylesheet" href="{% static 'assets/css/pages/erros/estilos-erro.css' %}" />
</head>
<body class="bg-tela-error error-404">
    <div class="error-container">
        <div class="error-content">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg>
            <h1 class="error-title">Página Não Encontrada</h1>
            <p class="error-message">Desculpe, a página que você está procurando não existe ou foi movida.</p>
            <a href="{% url 'dashboard' %}" class="btn-back-dashboard">Voltar para a Tela Inicial</a>
        </div>
    </div>
</body>
</html>